header
	nav
		ul
			display: flex
			flex-direction: row

			margin: 0
			border-bottom: black solid 1px
			list-style-type: none
			padding: 0

			li
				flex: 1

				border-right: black solid 1px
				padding: 5px 0
				text-align: center
				color: black
			li:last-child
				border-right: none
			li.selected
				background-color: #99DDFF

footer
	padding: 100px 0
	text-align: center
	background-color: #FBFBFB
	font-size: 0.9em