header
	nav
		ul
			display: flex
			flex-direction: row

			margin: 0
			border-bottom: black solid 1px
			list-style-type: none
			padding: 0

			li
				flex: 1

				border-right: black solid 1px
				padding: 5px 0
				text-align: center
				color: black
			li:last-child
				border-right: none
			li.selected
				background-color: #99DDFF

main
	.watch
		.buttons
			display: flex
			flex-direction: row
			flex-wrap: wrap
			justify-content: space-around
			
			.clear
				border-color: #FF0000
				background-color: #FF0000
			.record
				border-color: #800080
				background-color: #800080
			.reset

			.start
				border-color: #55CC88
				background-color: #55CC88
			.stop
				border-color: #FFA900
				background-color: #FFA900

footer
	padding: 100px 0
	text-align: center
	background-color: #FBFBFB
	font-size: 0.9em